{% extends "public/base.html" %}


{% block style%}
<link href="/static/css/private-base.css" rel="stylesheet">
{% block css %}
{% endblock %}
{% if searchable %}
<link href="/static/css/modal.css" rel="stylesheet">
{% endif %}
{% endblock %}


{% block body %}
<main class="wrapper">
  <nav>

    <div class="homepage-link">
      <a href="{{ url_for('home_page') }}">
        <i class="fas fa-fish"></i>
      </a>
      <h1>{{ navbar_title }}</h1>
    </div>

    <div class="navbar-buttons">
      {% block navbar_buttons %}
      {% endblock %}
      <a class="dotted" href="{{ url_for('profile_page') }}">
        <i class="fas fa-user"></i>
      </a>
    </div>

  </nav>

  {% if searchable %}
  <form class="search">
      <input type="text" placeholder="Search...">
      <a
          hx-get="{{ new_item_endpoint }}"
          hx-target="body" hx-swap="beforeend"
          class="dotted">
          <i class="fas fa-sliders-h"></i>
      </a>
      <a class="dotted" href="#">
        <i class="fas fa-check-square"></i>
      </a>
      <a href="{{ new_item_endpoint }}">
        <i class="fas fa-plus"></i>
      </a>
      {% if upload_item_endpoint %}
      <a href="{{ upload_item_endpoint }}">
        <i class="fas fa-upload"></i>
      </a>
      {% endif %}
      <div class="paginator">
        <a class="dotted"><i class="fa fa-chevron-left"></i></a>
        <p>X of XX</p>
        <a class="dotted"><i class="fa fa-chevron-right"></i></a>
      </div>
  </form>
  {% endif %}

  <div id="stretched">
  {% block page %}
  {% endblock %}
  </div>

  <footer>
    <p>&copy; Ebisu Flashcards 2022 - {{ this_year }}. Made with FastAPI and HTMX.</p>
  </footer>

</main>
{% endblock %}