{% extends "public/base.html" %}


{% block style%}
<link href="/static/css/private-base.css" rel="stylesheet">
{% block css %}
{% endblock %}
{% if searchable %}
<link href="/static/css/modal.css" rel="stylesheet">
{% endif %}
{% endblock %}


{% block body %}
<main class="wrapper">
  <nav>

    <div class="homepage-link">
      <a href="{{ url_for('home_page') }}">
        <i class="fas fa-fish"></i>
      </a>
      <h1>{{ navbar_title }}</h1>
    </div>

    <div class="navbar-buttons">
      {% if searchable %}
      <div class="paginator">
          <a class="chevron"><i class="fa fa-chevron-left"></i></a>
          <p>X of XX</p>
          <a class="chevron"><i class="fa fa-chevron-right"></i></a>
      </div>
      {% endif %}
      {% block navbar_buttons %}
      {% endblock %}
      <a href="{{ url_for('profile_page') }}">
        <i class="fas fa-user"></i><p>&nbsp; My Name</p>
      </a>
      <a class="logout" href="{{ url_for('logout_page') }}">
        <i class="fas fa-sign-out-alt"></i><p>&nbsp; Logout</p>
      </a>  
    </div>

  </nav>

  {% if searchable %}
    {% include "components/search.html" %}
  {% endif %}

  <div id="stretched">
  {% block page %}
  {% endblock %}
  </div>

  <footer>
    <p>&copy; Ebisu Flashcards 2022 - {{ this_year }}. Made with FastAPI and HTMX.</p>
  </footer>

</main>
{% endblock %}