{% extends "private/base.html" %}


{% block css%}
<link href="/static/css/boxes.css" rel="stylesheet">
<link href="/static/css/search.css" rel="stylesheet">
{% endblock %}

{% block navbar_buttons %}
<a class="dotted" href="{{ url_for('create_card_page', deck_id=deck.id) }}">
    <i class="fas fa-plus"></i><p>&nbsp; New Card...</p>
</a>
{% endblock %}

{% block page %}
<div hx-get="{{ url_for('cards_component', deck_id=deck.id) }}" hx-trigger="load" hx-swap="outerHTML">
    {% include "components/loading.html" %}
</div>

{% endblock %}