{% extends "private/base.html" %}


{% block css%}
<link href="/static/css/deck-details.css" rel="stylesheet">
<link href="/static/css/modal.css" rel="stylesheet">
{% endblock %}


{% block page %}
<section id="single-card">
    <form action="{{ url_for('save_deck_endpoint', deck_id=deck_id) }}" method="post">
        <div class="box main-card">  
            <div>
                <input class="h1" type="text" name="name", placeholder="Name" value="{{ deck.name }}"></input>
                <input type="text" name="description" placeholder="Description" value="{{ deck.description }}"></input>
                <input type="text" name="tags" placeholder="Tags" value="{{ deck.tags|join(', ') }}"></input>

                <div class="buttons">
                    <button type="submit" class="positive">Save</button>
                    <a href="{{ url_for('home_page') }}" class="neutral">Cancel</a>
                    {% if deck_id %}
                    <button type="button" class="negative" 
                        hx-get="{{ url_for('deck_confirm_delete_component', deck_id=deck_id) }}" 
                        hx-target="body" hx-swap="beforeend">
                        Delete
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>

</section>
{% endblock %}