{% extends "private/base.html" %}


{% block css%}
<link href="/static/css/boxes.css" rel="stylesheet">
<link href="/static/css/home.css" rel="stylesheet">
{% endblock %}

{% block navbar_buttons %}
<a class="create" href="{{ url_for('create_deck_page') }}">
    <i class="fas fa-plus"></i><p>&nbsp; New Deck...</p>
</a>
{% endblock %}

{% block page %}
<div hx-get="{{ url_for('decks_component') }}" hx-trigger="load" hx-swap="outerHTML">
    {% include "components/loading.html" %}
</div>
{% endblock %}