{% extends "private/base.html" %}


{% block css%}
<link href="/static/css/boxes.css" rel="stylesheet">
<link href="/static/css/home.css" rel="stylesheet">
{% endblock %}

{% block navbar_buttons %}
<a class="create" href="{{ url_for('edit_deck_page', deck_id=None) }}">
    <i class="fas fa-plus"></i>&nbsp;  New Deck...
</a>
{% endblock %}

{% block page %}
<div hx-get="{{ url_for('decks_component') }}" hx-trigger="load" hx-swap="outerHTML">
    {% include "components/loading.html" %}
</div>


{% endblock %}