{% extends "private/base.html" %}


{% block css%}
<link href="/static/css/deck-details.css" rel="stylesheet">
<link href="/static/css/modal.css" rel="stylesheet">
{% endblock %}


{% block page %}
<section id="single-card">
    <div class="box main-card">  
        
        <form action="{{ url_for('save_template_endpoint', template_id=template_id) }}" method="post">
            
            <div class="buttons">
                <button type="submit" class="positive">Save</button>
                <a href="{{ url_for('templates_page') }}" class="neutral">Cancel</a>
                {% if deck_id %}
                <button type="button" class="negative" 
                    hx-get="{{ url_for('template_confirm_delete_component', template_id=template_id) }}" 
                    hx-target="body" hx-swap="beforeend">
                    Delete
                </button>
                {% endif %}
            </div>
        </form>
    </div>

</section>
{% endblock %}