{% extends "private/base.html" %}


{% block css%}
<link href="/static/css/deck-details.css" rel="stylesheet">
<link href="/static/css/modal.css" rel="stylesheet">
{% endblock %}


{% block page %}

<section id="single-card">
    <div class="box main-card">  
        <div>
            <h1>{{ template.name }}</h1>
            <p>{{ template.description }}</p>    

            {% for card, card_data in template.cards.items() %}

            <div class="box">
                <div style="margin: 1rem;">
                    <h3>{{ card }}</h3>
                    
                    {% for side, side_data in card_data.sides.items() %}
                    <div style="display: flex; flex-direction: column;">
                        <p>{{ side }}</p>
                        <div style="background-color:#eee; padding: 0.5rem; border-radius: 0.5rem;">
                            <div class="cards__{{ card }}__sides__{{ side }}-preview">{{ side_data|safe }}</div>
                        </div>
                    </div>
                    {% endfor %}

                    <div style="display: flex; flex-direction: column;">
                        <p>Preview</p>
                        <div style="background-color:#eee; padding: 0.5rem; border-radius: 0.5rem;">
                            <div class="cards__{{ card }}__preview-preview">{{ card_data.preview|safe }}</div>
                        </div>
                    </div>

                    <div style="display: flex; flex-direction: column;">
                        <p>Flip order</p>
                        <p>{{ card_data.flip_order }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}  

            <h3>Form</h3>

            <div style="background-color:#eee; padding: 1rem; border-radius: 0.5rem; ">
                <div class="form-preview" style="display: flex; flex-direction: column; gap: 0.5rem;">{{ template.form|safe }}</div>
            </div>

            <div class="buttons" style="margin-top: 1rem;">
                <a href="{{ url_for('clone_template_page', template_id=template_id) }}" class="positive">Clone</button>
                <a href="{{ url_for('templates_page') }}" class="neutral">Back</a>
            </div>
        </div>
    </div> 

</section>

{% endblock %}
