{% extends "private/base.html" %}


{% block css%}
<link href="/static/css/deck-details.css" rel="stylesheet">
<link href="/static/css/modal.css" rel="stylesheet">
{% endblock %}


{% block page %}
<script>
    function updatePreview(name){
        console.log(name, "textarea[name="+name+"]");
        var textarea = document.querySelector("textarea[name="+name+"]").value;
        var preview = document.querySelector("."+name+"-preview");
        preview.innerHTML = textarea;
    }
</script>

<section id="single-card">
    <form action="{{ url_for('save_template_endpoint') }}" method="post">
        <div class="box main-card">  
            <div>
                <input class="h1" type="text" name="name" value="{{ template.name }}">
                <textarea name="description">{{ template.description }}</textarea>    

                {% for card, card_data in template.cards.items() %}

                <div class="box">
                    <div style="margin: 1rem;">
                        <div class="title">
                            <h3>{{ card }}</h3>
                            <p></p>
                            <p></p>
                            <a class="dotted icon negative" href=#>
                                <i class="fas fa-trash"></i>
                            </a>
                        </div>

                        {% for side, side_data in card_data.sides.items() %}
                        <div style="display: flex; flex-direction: column;">
                            <label for="cards__{{ card }}__sides__{{ side }}">{{ side }}</label>
                            <div style="background-color:#eee; padding: 0.5rem; border-radius: 0.5rem;">
                                <div class="cards__{{ card }}__sides__{{ side }}-preview"></div>
                            </div>
                            <textarea name="cards__{{ card }}__sides__{{ side }}" oninput='updatePreview("cards__{{ card }}__sides__{{ side }}")'>{{ side_data }}</textarea>
                            <script>updatePreview("cards__{{ card }}__sides__{{ side }}");</script>
                        </div>
                        {% endfor %}

                        <div style="display: flex; flex-direction: column;">
                            <label for="cards__{{ card }}__preview">Preview</label>
                            <div style="background-color:#eee; padding: 0.5rem; border-radius: 0.5rem;">
                                <div class="cards__{{ card }}__preview-preview"></div>
                            </div>
                            <textarea name="cards__{{ card }}__preview" oninput='updatePreview("cards__{{ card }}__preview")'>{{ card_data.preview }}</textarea>
                            <script>updatePreview("cards__{{ card }}__preview");</script>
                        </div>

                        <div style="display: flex; flex-direction: column;">
                            <label for="cards__{{ card }}__flip_order">Flip order</label>
                            <textarea name="cards__{{ card }}__flip_order">{{ card_data.flip_order }}</textarea>
                        </div>
                    </div>
                </div>

                {% endfor %}  

                <button class="dotted"><i class="fas fa-plus"></i></button>

                <h3>Form</h3>

                <div style="background-color:#eee; padding: 1rem; border-radius: 0.5rem; ">
                    <div class="form-preview" style="display: flex; flex-direction: column; gap: 0.5rem;"></div>
                </div>
                <textarea name="form" oninput='updatePreview("form")'>{{ template.form }}</textarea>
                <script>updatePreview("form");</script>

                <div class="buttons" style="margin-top: 1rem;">
                    <button type="submit" class="positive">Save</button>
                    <a href="{{ url_for('templates_page') }}" class="neutral">Cancel</a>
                </div>
            </div>
        </div> 
    </form>

</section>

{% endblock %}
