/*----------------------------------------------------------------------------*/
/*     Container Styles
/*----------------------------------------------------------------------------*/

section {
    padding: min(2rem, 3%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 3vw;
    grid-row-gap: 3vh;
}

section.cards {
    padding: min(2rem, 3%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
}

section#single-card {
    display: block;  /* remove the grid layout */
}


/*----------------------------------------------------------------------------*/
/*     Box Styles
/*----------------------------------------------------------------------------*/

.box {
    padding: 1.5rem;
    border: 1px solid var(--gray);
    border-radius: 1rem;
    box-shadow: 5px 5px var(--dark-gray);
    transition: all .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/*.box:hover {
    transform: scale(1.05);
}*/

.box p {
    color: var(--dark-gray);
}

.box a,     
.box button {
    text-transform: uppercase;
    padding: 0.75rem;
}

.box a.clickable {
    background: unset;
    box-shadow: none;
    text-transform: none;
    padding: 0;
    color: unset;
}

.box .title {
    color: black;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 1rem;
}

.box h1 {
    color: black;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display:inline;
    margin: 0;
    padding: 0.5rem 0;
    border-bottom: 1px dashed var(--dark-gray);
}

.box .edit {
    color: var(--dark-gray);
    border: 1px solid var(--gray);
    background: transparent;
    padding-left: 1rem; /* To center the icon */
}

.box .buttons {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px dashed var(--gray);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
}

.box .positive {
    background-color: var(--success);
}

.box .neutral {
    background-color: var(--primary);
}

.box .negative {
    background-color: var(--danger);
}


/*----------------------------------------------------------------------------*/
/*     Single Card Styles
/*----------------------------------------------------------------------------*/

.main-card {
    max-width: 500px;
    margin: auto;
    padding: 2rem min(2rem, 3%);
    
    border: 1px solid var(--gray);
    border-radius: 1rem;
    box-shadow: 5px 5px var(--dark-gray);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-card p {
    color: var(--dark-gray);
}


/*----------------------------------------------------------------------------*/
/*     Many Cards Styles
/*----------------------------------------------------------------------------*/

.card {
    padding: 0.5rem;
}

/*----------------------------------------------------------------------------*/
/*     Form Styles
/*----------------------------------------------------------------------------*/

input[type="text"] {
    color: var(--dark-gray);
    background-color: #eee;
    text-align: unset;
    font-style: italic;
    display:block;
    margin: 0.75rem 0;
    padding: 0.5rem;
    border: 0;
    width: 95%;
}