/*----------------------------------------------------------------------------*/
/*     Container Styles
/*----------------------------------------------------------------------------*/

section {
    padding: min(2rem, 3%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-column-gap: 3vw;
    grid-row-gap: 3vh;
}

/*----------------------------------------------------------------------------*/
/*     Deck Styles
/*----------------------------------------------------------------------------*/

.deck-type {
    display: inline-block;
    background: white;
    font-size: 10pt;
    font-style: italic;
    padding: 0.3rem 0.5rem;
    margin: 0;
    border: 1px dashed var(--gray);
    border-radius: 2px;
}

