/*----------------------------------------------------------------------------*/
/*     Navbar Styles
/*----------------------------------------------------------------------------*/

nav {
    margin: 0 1rem;
    padding: 1rem 0;
    text-align: justify;
    border-bottom: 1px dashed var(--gray);
    text-transform: uppercase;

    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

nav > h1 {
    margin: 0;
    padding: 0;
    margin-left: 1.5rem;
}

nav > h1.center {
    margin: 0;
    text-align: center;
}

nav .navbar-buttons {
    display: flex;
    justify-self: right;
    gap: 1rem;
}

nav .navbar-buttons .logout {
    text-align: right;
    background-color: var(--danger);
}

nav .navbar-buttons .create {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--black);
    border: 1px dashed var(--black);
    background-color: transparent;
    font-style: italic;
}

a.borderless {
    margin: 0;
    border: 0;
    transition: none;
}

a.borderless:hover {
  filter: brightness(100%);
}

.homepage-link {
    display: grid;
    align-items: center;
    grid-template-columns: min-content auto;
}

.homepage-link a{
    color: var(--blue);
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

.homepage-link .fa-fish {
    z-index: 100;
    margin: 0 1.25rem;
    font-size: 2rem;
    transform: rotate(-25deg);
}