/*----------------------------------------------------------------------------*/
/*     Navbar Styles
/*----------------------------------------------------------------------------*/

nav {
    margin: 0 1rem;
    padding: 1rem 0.5rem;
    border-bottom: 1px dashed var(--gray);
    text-transform: uppercase;

    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

nav .homepage-link {
    display: grid;
    align-items: center;
    grid-template-columns: min-content auto;
}

nav .homepage-link h1 {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}

nav .homepage-link a{
    color: var(--blue);
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

nav .homepage-link a:hover{
    box-shadow: none;
}

nav .homepage-link .fa-fish {
    z-index: 100;
    font-size: 2rem;
    transform: rotate(-25deg);
}


nav .navbar-buttons {
    display: flex;
    gap: 1rem;
    justify-self: right;
    flex-wrap: wrap;
    justify-content: right;
}

@media (max-width: 768px) {

    nav .navbar-buttons {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

nav .navbar-buttons .logout {
    background-color: var(--danger);
}


a,
button,
input[type=submit] {
  box-shadow: 3px 3px var(--dark-gray);
}


.dotted {
    color: var(--dark-gray);
    border: 1px dashed var(--dark-gray);
    background-color: transparent;
    font-style: italic;
}

.dotted:hover {
    color: var(--black);
}


a:hover,
button:hover,
input[type=submit]:hover  {
  box-shadow: 3px 3px var(--black);
}


a.borderless {
    margin: 0;
    border: 0;
    transition: none;
}

a.borderless:hover {
  filter: brightness(100%);
}

/*----------------------------------------------------------------------------*/
/*      Search widget & paginator Styles
/*----------------------------------------------------------------------------*/

.search {
    margin: 0 1rem 0 1rem;
    padding: 1rem 1rem 0 1rem;
    text-transform: uppercase;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.search input[type="text"] {
    color: var(--dark-gray);
    background-color: unset;
    font-size: 1.3rem;
    font-style: italic;
    border: 0;
    border-bottom: 1px solid var(--gray);
}

@media (max-width: 768px) {

    .search {
        flex-wrap: wrap;
    }
}

.search button {
    word-break: unset;
    display: inline;
    margin: auto;
}

.search button p {
    display: inline;
}


.paginator {
    display: flex;
    gap: 1rem;
    width: min-content;
    white-space: nowrap;
}

/*----------------------------------------------------------------------------*/
/*     Container Styles
/*----------------------------------------------------------------------------*/

section {
    padding: min(2rem, 3%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-column-gap: 3vw;
    grid-row-gap: 3vh;
}

section.cards {
    padding: min(2rem, 3%);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-column-gap: 1vw;
    grid-row-gap: 2vh;
}

/*----------------------------------------------------------------------------*/
/*     Box Styles
/*----------------------------------------------------------------------------*/

.box {
    border: 1px solid var(--gray);
    border-radius: 1rem;
    box-shadow: 5px 5px var(--dark-gray);
    transition: all .3s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box .content {
    margin:1.5rem;
}

.box p {
    color: var(--dark-gray);
}

.box a,     
.box button {
    padding: 0.75rem;
}

/* style for whole clickable boxes, see cards browser */ 
.box a.card {
    background: unset;
    box-shadow: none;
    text-transform: none;
    padding: 0;
    color: unset;
}

@media (max-width: 768px) {
    .box a.card p {
        display: inline;
    }
}

.box a.card hr {
    border: 0;
    border-bottom: 1px dashed var(--gray);
    margin: 1rem;
}

.box .title {
    color: black;
    background-color: transparent;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
    gap: 1rem;
}

.box h1 {
    color: black;
    background-color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    display:inline;
    margin: 0;
    padding: 0.5rem 0;
    border-bottom: 1px dashed var(--dark-gray);
}

.box .buttons {
    padding-top: 1rem;
    margin-top: 1rem;
    border-top: 1px dashed var(--gray);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1rem;
}

.box .study {
    border-radius: 0 0 1rem 1rem;
    padding: 1.5rem;
}

.box .positive {
    background-color: var(--success);
}

.box .neutral {
    background-color: var(--primary);
}

.box .negative {
    background-color: var(--danger);
}


/*----------------------------------------------------------------------------*/
/*     Single Card Styles
/*----------------------------------------------------------------------------*/

section#single-card {
    display: block;  /* remove the grid layout */
}

section#double-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.main-card {
    flex-grow: 10;
    max-width: 500px;
    margin: auto;
    padding: 2rem min(2rem, 3%);
    
    border: 1px solid var(--gray);
    border-radius: 1rem;
    box-shadow: 5px 5px var(--dark-gray);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#double-card .main-card {
    margin: unset;
    min-width: 300px;
}

.main-card p {
    color: var(--dark-gray);
}


/*----------------------------------------------------------------------------*/
/*     Many Cards Styles
/*----------------------------------------------------------------------------*/

.card {
    padding: 0.5rem;
}

/*----------------------------------------------------------------------------*/
/*     Form Styles
/*----------------------------------------------------------------------------*/

input[type="text"] {
    color: var(--dark-gray);
    background-color: #eee;
    text-align: unset;
    font-style: italic;
    display: block;
    margin: 0.75rem 0;
    padding: 0.5rem;
    border: 0;
    width: 95%;
}

/*----------------------------------------------------------------------------*/
/*     Deck Styles
/*----------------------------------------------------------------------------*/

.deck-type {
    display: inline-block;
    background: white;
    font-size: 10pt;
    font-style: italic;
    padding: 0.3rem 0.5rem;
    margin: 0;
    border: 1px dashed var(--gray);
    border-radius: 2px;
}
