/*----------------------------------------------------------------------------*/
/*     Navbar Styles
/*----------------------------------------------------------------------------*/

nav {
    margin: 0 1rem;
    padding: 1rem 0.5rem;
    border-bottom: 1px dashed var(--gray);
    text-transform: uppercase;

    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
}

nav .homepage-link {
    display: grid;
    align-items: center;
    grid-template-columns: min-content auto;
}

nav .homepage-link h1 {
    margin: 0;
    padding: 0;
    margin-left: 1rem;
}

nav .homepage-link a{
    color: var(--blue);
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
}

nav .homepage-link a:hover{
    box-shadow: none;
}

nav .homepage-link .fa-fish {
    z-index: 100;
    font-size: 2rem;
    transform: rotate(-25deg);
}


nav .navbar-buttons {
    display: flex;
    gap: 1rem;
    justify-self: right;
}

@media (max-width: 768px) {

    nav .navbar-buttons {
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

nav .navbar-buttons .logout {
    background-color: var(--danger);
}


a,
button,
input[type=submit] {
  box-shadow: 3px 3px var(--dark-gray);
}


.dotted {
    color: var(--dark-gray);
    border: 1px dashed var(--dark-gray);
    background-color: transparent;
    font-style: italic;
}

.dotted:hover {
    color: var(--black);
}


a:hover,
button:hover,
input[type=submit]:hover  {
  box-shadow: 3px 3px var(--black);
}


a.borderless {
    margin: 0;
    border: 0;
    transition: none;
}

a.borderless:hover {
  filter: brightness(100%);
}

/*----------------------------------------------------------------------------*/
/*      Search widget & paginator Styles
/*----------------------------------------------------------------------------*/

.search {
    margin: 0 1rem 0 1rem;
    padding: 1rem 0.5rem 0 0.5rem;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 0;
}

.search form {
    margin-right: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap;
    flex-grow: 20;
}

.search form input[type="text"] {
    color: var(--dark-gray);
    background-color: unset;
    font-size: 1.3rem;
    font-style: italic;
    border: 0;
    border-bottom: 1px dashed var(--gray);
    width: auto;
    flex-grow: 20;
}

.search button {
    word-break: unset;
    display: inline;
    margin: auto;
}

.search button p {
    display: inline;
}


.paginator {
    display: flex;
    gap: 1rem;
    width: min-content;
    white-space: nowrap;
}
