/*----------------------------------------------------------------------------*/
/*      Search widget Styles
/*----------------------------------------------------------------------------*/

.search {
    padding: 1rem min(2rem, 3%) 0 min(2rem, 3%);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.search input[type="text"] {
    color: var(--dark-gray);
    background-color: unset;
    font-size: 1.3rem;
    font-style: italic;
    border: 0;
    border-bottom: 1px dashed var(--gray);
    width: auto;
    flex-grow: 20;
}

.search a {
    word-break: unset;
    display: inline;
}

.search div a,
.search div p {
    display: inline;
    margin: 0 0.5rem;
}

.search .chevron {
    color: var(--dark-gray);
    background-color: transparent;
    border: 1px dashed var(--gray);
    box-shadow: none;
}