/*----------------------------------------------------------------------------*/
/*     Question and Answer Styles
/*----------------------------------------------------------------------------*/

#question {
    padding: 2rem;
    text-align: center;
    border: none;
}

#guess {
    padding: 1rem;
    margin: 0;
    margin-bottom: 2rem;
    background-color: transparent;
    font-size: 1.5rem;
    text-align: center;
    border: 0;
    border-bottom: 1px solid var(--gray);
    color: var(--black);
    width: unset;
}

.main-card details {
    text-align: center;
}

.main-card details summary {
    list-style: none;
}

.main-card details summary .show:hover {
    color: black;
    font-weight: bold;
}

.main-card details summary::-webkit-details-marker {
    display: none;
}

.main-card details[open] summary {
    display: none;
}

.feedback .buttons {
    border: none;
}

#answer {
    padding: 2rem;
    text-align: center;
    border: none;
}

/*----------------------------------------------------------------------------*/
/*     Problem Cards Styles
/*----------------------------------------------------------------------------*/

.problem-card h1,
.problem-card p {
    margin:0;
    padding: 2rem 0 1rem 0;
    display: block;
}

.problem-card h1 {
    text-transform: uppercase;
    text-align: center;
    padding: 0.5rem 1rem 1.5rem 1rem;
}

.problem-card p,
.problem-card a {
    font-size: 1.3rem;
}

