{% extends "public/base.html" %}


{% block style%}
<link href="/static/css/login.css" rel="stylesheet">
{% endblock %}



{% block body %}
<body class="small">


<div class="home-link">
  <a href="{{ url_for('landing_page') }}">
    <i class="fas fa-fish"></i>
  </a>
</div>
  

<main class="wrapper">

  <form id="login" method="POST" action="{{ url_for('login_page') }}">
    <h1>Login</h1>

    <div><input type="text" name="username" placeholder="Username" aria-describedby="usernameHelp" required></div>
    <div><input type="password"name="password" placeholder="Password"  aria-describedby="passwordeHelp" required></div>
    <div class="feedback feedback-{{feedback_type}} {% if not feedback %} hidden {% endif %}"><p>{{feedback}}</p></div>
    <div><input type="submit" value="Login" /></div>
  </form>

  <footer>
    <a href="{{ url_for('reset_password_page') }}">Forgot Password?</a>
    <a href="{{ url_for('signup_page') }}">Create an Account!</a>
  </footer>

</main>

</body>
{% endblock %}
