<div>
    <div class="box" onclick="location.href='{{ url_for('edit_card_page', deck_id=deck_id, card_id=id) }}'" style="cursor:pointer">
        <div>
            <div>
                {{ card.rendered_preview|safe }}
            </div>
            <div>
                <span class="text-center">
                    {% for tag in card.tags %}
                    <span class="tag">{{ tag }}</span>
                    {% endfor %}
                    <span class="tag">{{ card.template.name }} {{ card.template.card }}</span>
                </span>
            </div>
        </div>
    </div>
</div>