<div>
    <div class="box" onclick="location.href='{{ url_for('edit_card_page', deck_id=deck_id, card_id=id) }}'" style="cursor:pointer">
        <div>
            <div class="text-center">
                {{ card.preview|safe }}
            </div>
            <div>
                <span class="text-center">
                    {% if card.tags %}
                        {% for tag in card.tags %}
                        <span class="tag">{{ tag }}</span>
                        {% endfor %}
                    {% endif %}
                    <span class="tag">{{ card.schema_name }}</span>
                </span>
            </div>
        </div>
    </div>
</div>