<div class="box">
    <div>
        <div class="title">
            <h1 class="deck-name">Deck Name</h1>
            <a class="edit" href="{{ url_for('edit_deck_page', deck_id='[deck_id]') }}">
                &nbsp; <!-- To center the icon -->
                <i class="fas fa-edit"></i>
            </a>
        </div>
        <p class="deck-desc">This is it.</p>
        <p class="deck-type">Algorithm</p>
    </div>
    <div class="buttons">
        <a class="positive" href="{{ url_for('study_page', deck_id='[deck_id]') }}">
            <i class="fas fa-book"></i>&nbsp; Study
        </a>
        <a class="neutral" href="{{ url_for('cards_page', deck_id='[deck_id]') }}">
            <i class="fas fa-search"></i>&nbsp; Browse
        </a>
    </div>
</div>
