<div class="box">
    <div style="margin-bottom:0;">
        <div class="title">
            <h1>{{ deck.name }}</h1>
            <a class="dotted icon" href="{{ url_for('edit_deck_page', deck_id=id) }}">
                <i class="fas fa-pencil-alt"></i>
            </a>
            <a class="dotted icon" href="{{ url_for('cards_page', deck_id=id) }}">
                <i class="fas fa-search"></i>
            </a>
            <a class="dotted icon" href="{{ url_for('export_deck_endpoint', deck_id=id) }}">
                <i class="fas fa-download"></i>
            </a>
        </div>
        <p>{{ deck.description }}</p>
        <span>
            <span class="tag">{{ deck.algorithm }}</span>  
            {% for tag in deck.tags %}
                <span class="tag">{{ tag }}</span>
            {% endfor %}
        </span>
    </div>
    <a class="positive study" href="{{ url_for('study_page', deck_id=id) }}">
        <i class="fas fa-book-open"></i>&nbsp; Study
    </a>
</div>
