<div class="box">
    <div class="content">
        <div class="title">
            <h1>{{ schema.name }}</h1>
            <a class="dotted icon" href="{{ url_for('view_schema_page', schema_id=id) }}">
                <i class="fas fa-search"></i>
            </a>
            <a class="dotted icon" href="{{ url_for('clone_schema_page', schema_id=id) }}">
                <i class="fas fa-copy"></i>
            </a>
            <a 
                class="dotted icon negative"
                hx-get="{{ url_for('schema_confirm_delete_component', schema_id=id) }}" 
                hx-target="body" hx-swap="beforeend"
                {% if schema.usage %}disabled{% endif%} {% if schema.usage %}disabled{% endif%}
            >
                <i class="fas fa-trash"></i>
            </a>
        </div>
        <p>{{ schema.description }}</p>
        <p class="comment">Used by {{ schema.usage }} cards.</p>
    </div>
</div>
